# Node.js related
/node_modules
package-lock.json
npm-debug.log
/build
.env

# macOS system files
.DS_Store

# Terraform related
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraformrc
terraform.rc
.tfplan
tfplan
tfplan.json
.terraform.lock.hcl

# Binaries
kubectl

# Other
.dockerignore
*.code-workspace
*.pem
/temp_work
aws-k8s-cni-old.yaml